
.backform {
    display: block;
    margin: 0px auto;
    clear: both;
}


    .backform input, .backform select, .backform textarea {
        padding: 10px;
        border: 1px solid #000;
        margin: 10px;
        margin-left: 0px;
    }
    
    .backform .notice {
		display: block;
		padding: 10px;
		border: 1px solid;
		margin-top: 10px;
    }
    
		.backform .error {
			border-color: red;
			color: red;
			background: #FAC0C0;
		}
	
	.backform .button {
		border: 1px outset #000;
	}
	
	.backform .simpan {
		background: green;
		color: #fff;
	}
	
	.backform .form_thumb {
		width: 700px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	#box_album {
		float: right;
		font-weight: bold;
	}
		#box_album select {
			padding: 5px;
			font-weight: bold;
			border: 1px solid #C90294;
			background: none;
		}
		
		#box_album .album_plus {
			height: 20px;
		}
		
		#box_album .plus_box {
			border: 1px solid #009694;
			padding: 5px;
			border-radius: 3px;
			background: #2CB8B5;
		}
	
#tcrud {
	display: block;
	clear: both;
	width: 100%;
	padding-bottom: 30px;
}


.crudbutton {
	border: 1px outset #333333;
	text-shadow: 0.1px 0.1px 0.1px #000;
	color: #333333;
	border-radius: 3px;
}

a.crudbutton:hover {
	text-decoration: none;
}

.crudbutton.p10 {
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.crudbutton.p5 {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.crudbutton.add {
	background: #4caf50;
	color: #fff;
}

.headleft {
    text-align: left;
    float: left;
}

#tlist {
	margin: 0;
	width: 100%;
	border-color: #333333;
	border-top: 2px solid #333333;
	border-bottom: 1px solid #333333;
	--font-size: 12px;
	border-collapse: collapse;
	color: #000;
	text-shadow: 0.5px 0.5px 0.3px #333333;
}

	#tlist .colaction {
		width: 150px;
		text-align: center;
	}

	#tlist .colaction.long {
		width: 220px;
	}

	#tlist th, #tlist td {
		padding: 15px;
	}

	#tlist td.colaction {
		padding-right: 0;
	}

	#tlist th {
		background: #333333;
		color: #FFF;
		--text-shadow: 0 0 3px #ff0000;
	}

		#tlist.tertinggal th {
			background: #FF6E6E;
		}

	#tlist tr {
		border-bottom: 1px solid #333333;
	}

	#tlist tr.seling {
		background: #DBFFF6;
	}

	#tlist tr:hover {
		background: #F9FFE8;
		cursor: pointer;
	}

	#tlist  a {
		padding: 3px 15px;
		background: #4479BA;
		color: #FFF;
		font-size: 11px;
	}

	#tlist  a:hover {
		background: #356094;
		border: solid 1px #2A4E77;
		text-decoration: none;
	}

	#tlist a.delete {
		background: #F77D4D;
	}

	#tlist a.delete:hover {
		background: #C43D08;
	}

	#tlist a.new {
		background: #39A359;
	}

	#tlist a.new:hover {
		background: #2B8A47;
	}




#notice {
	display: block;
	border: 1px solid #000;
	clear: both;
	padding: 5px;
	margin-bottom: 5px;
}

	#notice.error {
		border: 1px solid red;
		color: red;
		background: #FFA3A3;
	}

	#notice.success {
		border: 1px solid green;
		color: green;
		background: #91FFE7;
	}


#mod {
	display: block;
	margin: 0;
	padding: 10px;
	letter-spacing: 0.1em;
	font-family: helvetica, verdana;
	font-size: 12px;
}

	#mod h3 {
		display: block;
		background: #03AD82;
		color: #fff;
		margin: -10px;
		padding: 10px;
		margin-bottom: 10px;
	}

		#mod h3.tertinggal {
			background: #FF6E6E;
		}

	#mod input[type=text],
	#mod select,
	#mod textarea,
	#mod input[type=password] {
		border: 1px solid #000;
		padding: 8px;
		letter-spacing: 0.1em;
		font-size: 12px;
	}


