
@media only screen and (min-width: 800px){
    .LoginPage{
        background-color: #d2d6de;
    }
    .container {
        /*padding: 57px;*/
        padding: 110px 0 0 0;
        width: 800px;
    }

    .login-container {
    padding:2%;
    top: 11%;
    left: 15%;
    position: absolute;
    }

    .login-form-1{
        padding: 3%;
        background: red;
        height: 432px;
        width: 30%;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    }
    .login-form-2{
        padding: 3%;
        background: white;
        height: 432px;
        width: 70%;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    }
    .link{
        position: fixed;
        /*top: 65%;*/
        margin: 110px 0 0 0;
    }
    .logoSemen{
        position: relative;
        margin: 110px 0px 0px 0px;
        /*top: 66%;*/
        padding: 0px 0 0 27px;
    }

} 


@media only screen and (max-width: 800px){
    .LoginPage{
        background-color: #eb5555;
    }
    .container {
        padding: 16px;
    }
 
    .login-container {
    margin-top: 2%;
    margin-bottom: 5%;
    }

    .login-form-1{
        padding: 3%;
        background: red;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    }
    .login-form-1 h3{ 
        color: white;
    }
    .login-form-2{
        padding: 3%;
        background: white;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    }

}


    .login-form-1 h3{ 
        color: white;
    }
    .login-form-2 h3{
        text-align: center;
        color: black;
    }
    .login-container form{
        padding: 10%;
        border-radius: 1rem;
     }
    .btnSubmit
    {
        width: 100%;
        border-radius: 1rem;
        padding: 1.5%;
        border: none;
        cursor: pointer;
    }
    .login-form-1 .btnSubmit{
        font-weight: 600;
        color: red;
        background-color: white;
    } 
    .border {
        width: 100%;
        box-sizing: border-box;
        /*border: 2px solid #ccc;*/
        border-radius: 18px;
        font-size: 11px;
        background-color: white;
        background-image: url(searchicon.png);
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 8px 39px 6px 20px;
    }