body{
	margin:20px;
	padding:0;
	text-align:center;
	--background-image: url(../images/background.gif);
	
}
h1, h2, h3 , h4{
	margin:0;
	padding:0;
}
p{
	margin:1em 0;
	padding:0;
}
h1{
	color: #FFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
}
h2{
	font-size:14px;
	color:#25899E;
}
h3{
	font-size:12px;
}
table, td, select, input, textarea{
	font: 100% Tahoma, Arial, Helvetica, sans-serif;
	border:0;	
}
img{border:0;}

.button {
	padding: 8px 15px;
	background: #4479BA;
	color: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: solid 1px #20538D;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	text-decoration: none;
	font-weight: bold;
	font-size: 10px;
	letter-spacing: 0.1em;
}
	
	.button:hover {
		cursor: pointer;
	}
	
	.button.add {
		background: #047A21;
	}
	
		.button.add:hover {
			background: #049128;
		}
		
	.button.warning {
		background: #F75C5C;
	}
	
		.button.warning:hover {
			background: #F03232;
		}
		
	.button.crudview {
		margin: 0;
	}
	
	.button.back {
		background: #829FA8;
	}
	
		.button.back:hover {
			background: #637175;
		}
		
		
	
		
/* ---------------------------------- container ---------------------------------- */
#mc {
	margin: 0px auto;
	padding: 0;
	display: relative;
	width:1100px;
	margin-top:auto;
	padding:0px;
	margin-right:auto;
	margin-left:auto;
	display: relative;
}
#container{
	width:1100px;
	margin:0px;
	padding:0px;
	margin-right:auto;
	margin-left:auto;
	--background:#D9FCF4;
	background: #E8FEFF;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
	float: left;
	margin-bottom: 10px;
}
/* ---------------------------------- header ---------------------------------- */
#header{
	display: block;
	padding: 3px;
	--background:url(../images/header_images.jpg) no-repeat center #000;
	border-top: 1px solid #1e0259;
	border-bottom: 1px solid #1e0259;
	background: #2d6e2a;
	font-weight: bold;
	color: #fff;
	font-family: helvetica;
	text-align: left;
	color: #00FBFF;
	font-size: 12px;
	padding-left: 10px;
}
	#htext {
		letter-spacing: 0.2em;
	}
	#user-menu {
		position: relative;
		display: inline;
		float: right;
		margin: 0;
		margin-right: -3px;
	}
	
		#user-menu li {
			padding: 3px;
			display: inline;
			border: 1px outset #1e0259;
			background: #243d8f;
			margin: 0px;
			margin-left: -3px;
			padding-left: 10px;
			padding-right: 10px;
		}
		
		#user-menu a {
			color: #fff;
			text-decoration: none;
			font-size: 11px;
		}
		
		#user-menu li:hover {
			border: 1px inset #1e0259;
			background: #243d8f;
			cursor: pointer;
		}
		
		#user-menu li:hover a {
			color: #fff;
		}
		
		
/* ---------------------------------- logotip ---------------------------------- */
div#logotip{
	display: block;
	position:relative;
	text-align:left;
	background: #ededed;
}
#logo{
	position:relative;
	text-indent:-8000px;
	width:257px;
	display:block;
	background: url(../images/logotip.gif) no-repeat;
}
#logo a{
	display:block;
	height:69px;
}

#main {
	padding: 0px;
	margin: 10px;
	text-align:left;
	display: relative;
	display: block;
	float: left;
}

/* ---------------------------------- menu ---------------------------------- */
#profile, #loginform {
	border: 1px outset #cacaca;
	padding: 3px;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #030C54;
	float: left;
	
}
	#profile {
		display: block;
		width: 192px;
	}
	
	#profile-foto img{
		border: 1px solid #030C54;
		width: 170px;
		height: auto;
		margin-top: 7px;
	}

#loginform {
	margin-bottom: 0px;
}

	#loginform input {
		display: block;
		width: 165px;
		border: 1px outset #030C54;
		padding: 10px;
		font-weight: bold;
		margin: 2px;
	}

		#loginform input[type=submit] {
			width: 100px;
			float: right;
		}
		
		#loginform h3 {
			background: #243d8f;
			color: #fff;
			padding: 5px;
			width: 175px;
			margin-left: 2px;
			margin-bottom: 3px;
			border: 1px outset #030C54;
		}

#menu{
	color: #B4B4B4;
	font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	vertical-align:middle;
	display: relative;
	width: 200px;
	background: #fff;
	float: left;
	
}

#navlist {
	margin: 0;
	padding: 0;
	list-style: none;
	border-top: 3px solid #030C54;
	float: left;
	display: block;
	width: 100%;
}
	
	#navlist li {
		margin: 0;
		border: 1px outset #cacaca;
		margin-bottom: 1px;
	}
	
	#navlist a {
		display: block;
		padding: 10px;
		color: #41287c;
		text-decoration: none;
		text-transform: uppercase;
	}
	
	#navlist li:hover {
		background: #039E70;
		color: #0522FF;
	}
	
	#navlist li:hover a {
		color: #0522FF;
	}

#content {
	width: 847px;
	float: right;
	padding-left: 10px;
	border-left: 1px solid #ddd;
	margin-left: 10px;
	background: #fff;
	border: 1px solid #C5D8FA;
	padding: 10px;
	border-radius: 3px;
	color: #030C54;
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 11pt;
	letter-spacing: 0.05em;
}
/* ---------------------------------- footer ---------------------------------- */
#footer{
	text-align:center;
	color:#777;
	font-weight:bold;
	font-size:10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
}

/* ---------------------------------- text_decor ---------------------------------- */
.underline {
	text-decoration: underline;	
}
.white {
	color:#FFF;
}
.blue {
	color:#25899E;
}
.red {
	color:#8F0101;
	
}
.yellow {
	color:#BD7400;
}
.px11{
	font-size:11px;
}

.notice {
	
}

.error {
	;
}

#noticeerror {
	display: block;
	border: 1px solid;
	padding: 3px;
	color: red;
	border-color: red;
	background: #FFBDBD;
	margin: 2px;
}

#mtitle {
	background: #08C495;
	color: #004232;
	letter-spacing: 0.1em;
	padding: 10px;
	margin: -9px;
	margin-bottom: 10px;
	font-family: helvetica;
	clear: both;
	text-shadow: 0px 0px 3px  #fff;
}

.dashboard-title {
	margin: 0;
	padding: 0;
	font-size: 16px;
	padding-top: 5px;
}

#spacer {
	display: block;
	clear: both;
}

	#spacer.10 {
		height: 10px;
	}

#ujian_berlangsung {
	display: block;
	border-bottom: 2px solid #08C495;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 12px;
	font-weight: bold;
}

	#ujian_berlangsung #right_ub{
		float: right;
		color: #6894FC;
	}
	
	#ujian_berlangsung #right_ub a {
		color: #004232;
		font-weight: bold;
		font-size: 14px;
	}

#soal_nav {
	display: block;
	background: #25899E;
	margin-bottom: -20px;
	padding: 3px;
	height: 20px;
	font-size: 11px;
	font-weight: bold;
}

	#soal_nav button, #soal_nav a  {
		text-decoration: none;
		background: #08C495;
		border: 1px outset #000;
		padding: 1px;
		font-size: 11px;
		font-weight: bold;
	}
	
	#soal_nav a {
		padding: 2px;
		float: left;
	}
	
		#soal_nav button:hover, #soal_nav a:hover  {
			background: #328A5E;
			cursor: pointer;
		}

	#soal_nav_left {
		float: left;
	}
	
	#soal_nav_right {
		float: right;
	}
	
#random_soal {
	margin: 0;
	padding: 0;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 20px;
	display: block;
	list-style: none;
	float: left;
	width: 95%;
	border-bottom: 3px solid #25899E;
	
}

	#random_soal .nomor_soal {
		float: left;
		font-weight: bold;
		font-size: 18px;
		margin: 0;
		padding: 0;
		text-align: left;
		margin-left: -20px;
		margin-bottom: -30px;
		margin-top: 10px;
		margin-right: 10px;
		border: 1px dashed #ccc;
		background: #eee;
		padding: 10px;
	}
	
	#random_soal .isi_soal {
		float: left;
		width: 100%;
		margin-left: 30px;
		margin-top: -20px;
	}

#random_soal li.soal_ujian {
	--border-top: 2px solid #004232;	
	--border-bottom: 1px dashed #004232;
	margin-bottom: 20px;
	padding: 10px;
}

#random_soal li.selang {
	background: #F0F0F0;
}
	
#random_soal #jawaban {
	display: block;
	float: left;
	padding: 5px;
	list-style: none;
	--list-style-position: inside
}

	#random_soal #jawaban li {
		padding: 8px;
		border-bottom: 1px dashed #D4D6D6;
	}
		
		#random_soal #jawaban li.atas {
			border-top:  1px dashed #D4D6D6;
		}
		
		#random_soal #jawaban li.bawah {
			border-top: none;
		}
		
		#random_soal #jawaban li .nomor_pilihan {
			border: 1px solid #000;
			border-radius: 50%;
			font-family: verdana;
			font-size: 12px;
			font-weight: bold;
			display: relative;
			width: 10px;
			height: 10px;
			float: left;
			padding: 4px;
			padding-top: 1px;
			padding-bottom: 7px;
			padding-left: 5px;
			cursor: pointer;
			margin-right: 10px;
		}
		
		#random_soal #jawaban li .nomor_pilihan.selected {
			background: #000;
			color: #fff;
		}
		
		#random_soal #jawaban li .nomor_pilihan:hover {
			background: #012F47;
			color: #fff;
		}
	
	#container_soal input.enabled {
		opacity: 1;
		filter: alpha(opacity=100); /* For IE8 and earlier */
		background: green;
	}
	
	 #ienable {
		 opacity: 1;
	 }
	 
	 
	 
	 #random_soal li .koreksi-benar {
		 background: url("images/koreksi-benar.gif") no-repeat 5px center #F0F0F0;
	 }
	 
	 #random_soal li .koreksi-salah {
		 background: url("images/koreksi-salah.gif") no-repeat 5px center #F0F0F0;
	 }
	 
	 #random_soal li .koreksi-benar {
		 background: url("images/koreksi-benar.gif") no-repeat 5px center;
	 }
	 
	 #random_soal li .koreksi-salah {
		 background: url("images/koreksi-salah.gif") no-repeat 5px center;
	 }
	 
	 #random_soal li #jawaban li {
		 margin-left: 50px;
	 }
	 
	 
	 .btn_selesai {
		 float: right;
		 margin-right: 20px;
		 width: 100%;
	 }
	 
#ganti_nomor {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline;
	margin-bottom: 7px;
	float: left;
}

	#ganti_nomor li {
		display: inline;
		float: left;
		margin: 1px;	
	}
	
	
	
	#ganti_nomor a {
		border: 1px solid #000;
		padding: 10px;
		margin: 8px;
		width: 20px;
		height: 20px;
		float: left;
		text-align: center;
		vertical-align: middle;
		font-weight: bold;
		color: #000;
		font-size: 16px;
		text-decoration: none;
	}
	
	#ganti_nomor li:hover a {
		background: #96E5FF;
	}
	
	#ganti_nomor .opt_ganti_nomor {
		color: #000;
		font-size: 8pt;
		float: right;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		padding: 3px;
		padding-left: 7px;
		padding-right: 3px;
		padding-top: 3px;
		padding-bottom: 5px;
		border: 1px solid #000;
		margin-right: 0px;
		margin-top: 0px;
		margin-left: -20px;
		background: #fff;
		font-weight: bold;
	}
	
	#ganti_nomor li.dijawab a {
		color: #fff;
		background: #087DBD;
	}
	
	#ganti_nomor .opt_ganti_nomor.dijawab {
		color: #fff;
		background: #000;
	}
	
#tcrud {
	display: block;
	width: 100%;
	margin-top: 10px;
	padding: 10px 0px;
	float: left;
}

	
	
	#tcrud input#pencarian, div #tcrud select, #tcrud span {
		border: 1px solid #082600;
		padding: 5px;
		color: #000;
		font-weight: bold;
		border-radius: 3px;
		float: left;
		font-size: 11px;
	}
	
	#tcrud div input#pencarian, div #tcrud select, #tcrud span {
		border: 1px solid #082600;
		padding: 5px;
		color: #000;
		font-weight: bold;
		border-radius: 3px;
		float: left;
		font-size: 11px;
	}
	
	#tcrud #addnew {
		float: right;
	}
		
		#tcrud #crudview {
			margin: 0;
			margin-top: -7px;
			margin-right: -5px;
			margin-bottom: -7px;
			padding: 6px;
		}
		
	#leftcrud {
		float: left;
		
	}
	
		#leftcrud h2 {
			display: block;
			padding: 10px;
		}
	
	#leftcrud.bordered {
		border: 1px solid #25899E;
		border-radius: 3px;
	}
	/*
		#leftcrud select {
			border: 0;
		}
	*/
	#tcrud span {
		border: none;
		padding-top: 7px;
		color: #25899E;
	}
	
	#rightcrud {
		float: right;
	}
		
		#rightcrud .button {
			float: right;
			margin-left: 8px;
		}
		
		#rightcrud.bordered {
			border: 1px solid #25899E;
			border-radius: 3px;
		}
		
	#rightcrud .noborder, #leftcrud .noborder {
		
		border: 0px;
	}
	
	#leftcrud #pencarian.noborder {
		border: 0px;
	}
	
	.crud_btn_submit {
		background: #25899E;
		color: #fff;
		padding: 5.3px;
		font-family: helvetica;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: bold;
	}
	
	.import-xls {
		background: url("images/xls.png") no-repeat 10px center #0BAFB8;
		padding-left: 30px;
	}
	
	.import-xls:hover {
		background-color: #11888A;
	}
	
	.print {
		background: url("images/printer.png") no-repeat 10px center #0BAFB8;
		padding-left: 30px;
	}
	
	.print:hover {
		background-color: #11888A;
	}

#tlist {
	margin: 0;
	width: 100%;
	border-color: #048F6C;
	border-top: 2px solid #025C45;
	border-bottom: 1px solid #045C46;
	font-size: 12px;
	border-collapse: collapse;
	color: #000;
	text-shadow: 1px 1px 1px #999;
}

	#tlist .colaction {
		width: 150px;
		text-align: center;
	}
	
	#tlist .colaction.long {
		width: 220px;
	}
	
	#tlist th, #tlist td {
		padding: 15px;
	}
	
	#tlist td.colaction {
		padding-right: 0;
	}
	
	#tlist th {
		background: #03AD82;
		color: #FFF;
		text-shadow: 0 0 3px #ff0000;
	}
	
		#tlist.tertinggal th {
			background: #FF6E6E;
		}
	
	#tlist tr {
		border-bottom: 1px solid #00BF8F;
	}
	
	#tlist tr.seling {
		background: #DBFFF6;
	}
	
	#tlist tr:hover {
		background: #F9FFE8;
		cursor: pointer;
	}
	
	#tlist  a {
		padding: 3px 15px;
		background: #4479BA;
		color: #FFF;
		font-size: 8px;
	}
	
	#tlist  a:hover {
		background: #356094;
		border: solid 1px #2A4E77;
		text-decoration: none;
	}
	
	#tlist a.delete {
		background: #F77D4D;
	}
	
	#tlist a.delete:hover {
		background: #C43D08;
	}
	
	#tlist a.new {
		background: #39A359;
	}
	
	#tlist a.new:hover {
		background: #2B8A47;
	}
	
.tdata, .tform {
	font-family: helvetica;
	font-size: 12px;
}

	.tdata td, .tform td {
		font-weight: bold;
		padding: 3px;
		vertical-align: middle;
		padding-left: 0;
	}
	
	.tdata input, .tform input {
		padding: 5px;
		font-weight: bold;
		border: 1px solid #ccc;
		color: #000;
	}
	
	.tdata input {
		padding: 8px;
		border: 1px solid #8089AD;
		font-size: 13px;
	}

.tsoal {
	width: 100%;
	border-collapse: collapse;
	cellspacing: 0;
}

	.tsoal .judul_soal, .tsoal .judul_jawaban {
		font-weight: bold;
		background: #eee;
		border: 1px solid #ccc;
		padding: 5px;
	}
		
		.judul_jawaban td {
			font-weight: bold;
			padding: 5px;
			text-align: center;
		}
		
	.tsoal textarea.soal {
		border: 1px solid #ccc;
		width: 100%;
	}
	
	.tsoal .opsi td {
		text-align: center;
		font-weight: bold;
		font-size: 18px;
		padding: 3px;
	}

		.tsoal .opsi textarea {
			border: 1px solid #ccc;
			width: 100%;
		}
	
	.tsoal .selang {
		background: #DBFFF6;
	}
	
#tlist #loadingdata  {
	vertical-align: middle;
	background: url("images/loading-data.gif") no-repeat left center #fff;
	padding: 10px;
	padding-left: 30px;	
}
	#tlist #loadingdata:hover {
		background-color: #fff;
	}

	
		
.tkoreksi {
	border: 1px solid #039E70;
	font-family: helvetica;
	font-size: 12px;
	border-collapse: collapse;
}

	.tkoreksi th {
		background: #039E70;
		color: #fff;
		padding: 5px;
		text-align: center;
	}
	
	.tkoreksi td {
		border-bottom: 1px dashed #B3D7FC;
		padding: 5px;
	}
	
	.tkoreksi .noborder td {
		border: 0;
	}
	
	.tkoreksi .nilai {
		font-size: 76px;
		text-align: center;
	}

#twarning {
	display: block;
	border-collapse: collapse;
	border: 1px solid #000;
}

	#twarning th {
		background: #FC9F9A;
		font-weight: bold;
		padding: 5px;
		border-bottom: 2px solid #000;
	}
	
	#twarning td {
		border-bottom: 1px solid #000;
		padding: 5px;
		border-left: 1px solid #000;
	}
	

#mod {
	display: block;
	margin: 0;
	padding: 10px;
	letter-spacing: 0.1em;
	font-family: helvetica, verdana;
	font-size: 12px;
}

	#mod h3 {
		display: block;
		background: #03AD82;
		color: #fff;
		margin: -10px;
		padding: 10px;
		margin-bottom: 10px;
	}
	
		#mod h3.tertinggal {	
			background: #FF6E6E;
		}
	
	#mod input[type=text], 
	#mod select, 
	#mod textarea, 
	#mod input[type=password] {
		border: 1px solid #000;
		padding: 8px;
		letter-spacing: 0.1em;
		font-size: 12px;
	}
	
	
#notice {
	display: block;
	border: 1px solid #000;
	clear: both;
	padding: 5px;
	margin-bottom: 5px;
}

	#notice.error {
		border: 1px solid red;
		color: red;
		background: #FFA3A3;
	}
	
	#notice.success {
		border: 1px solid green;
		color: green;
		background: #91FFE7;
	}
	
#data form input {
	border: 1px solid #000;
	padding: 8px;
	letter-spacing: 0.1em;
	font-size: 12px;
}

#data form input[type=submit] {
	font-weight: bold;
	padding: 11px;
	margin-left: 10px;
}

#data form #loader {
	background: url("images/loading-data.gif") no-repeat left center;
	margin-left: 10px;
	padding-left: 30px;
	text-transform: italic;
}


#pagination {
	display: block;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

	#pagination a, #pagination strong {
		border: 1px outset #cacaca;
		text-decoration: none;
		padding: 5px;
		font-size: 11px;
		font-weight: bold;
		margin: 0.5px;
		color: #41287c;
	}
	
		#pagination a:hover {
			background: #4479BA;
			color: blue;
		}
		
		#pagination strong {
			background: #047A21;
			color: #fff;
		}

